.search-results__button {
    background: #FFFFFF;
    border-radius: 80px;
    width: 288px;
    height: 64px;
    margin: 0px auto 80px;

    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.search-results__button:hover {
    opacity: 0.9;
}

@media screen and (max-width: 768px) {
    .search-results__button {
        height: 56px;
        margin: 0 auto 40px;
    }
}

@media screen and (max-width: 480px) {
    .search-results__button {
        margin: 0 auto 32px;
    }
}