.header__nav-item.header__nav-item_dark {
    color: #1A1B22;
}

.header__nav-item.header__nav-item_dark:first-child {
    margin-top: 28px;
    padding-bottom: 26px;
    color: #1A1B22;
    border-bottom: 3px solid #1A1B22;
}

@media screen and (max-width: 768px) {
    .header__nav-item.header__nav-item_dark:first-child {
        margin-top: 21px;
        padding-bottom: 19px;
    }
}