.search__title {

    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
    max-width: 608px;
    height: 128px;
}

@media screen and (max-width: 768px) {
    .search__title {
        height: 80px;
        font-size: 36px;
        line-height: 40px;
        max-width: 320px;
    }
}

@media screen and (max-width: 480px) {
    .search__title {
        max-width: 285px;
    }
}