.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8%;
}

@media screen and (max-width: 768px) {
  .header__navigation {
      margin-right: 5%;
  }
}

@media screen and (max-width: 576px) {
    .header__navigation {
        display: none;
    }
}