@import url("./_dark/header__nav-item_dark.css");
@import url("./_hidden/header__nav-item_hidden.css");
@import url("./_main/header__nav-item_main.css");
@import url("./_saved-pages/header__nav-item_saved-pages.css");

.header__nav-item {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 34px;
}

@media screen and (max-width: 768px) {
    .header__nav-item {
        margin-right: 16px;
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .header__nav-item {
        margin: 0;
        font-size: 18px;
        line-height: 56px;
        color: #FFFFFF;
    }
}