.search__button {
    background: #2F71E5;
    height: 64px;
    width: 28%;
    position: absolute;
    top: -1px;
    right: -1px;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search__button:hover {
    background: #347EFF;
}

.search__button:active {
    background: #2A65CC;
  }

@media screen and (max-width: 768px) {
    .search__button {
        width: 35%;
        height: 56px;
    }
}

@media screen and (max-width: 480px) {
    .search__button {
        position: static;
        width: 288px;
        margin-top: 28px;
    }
}
