.error.error_type-reg {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

@media screen and (max-width: 425px) {
    .error.error_type-reg {
        height: 32px;
        bottom: 81px;
    }
}