@import url("./__title/search-resume__title.css");
@import url("./__subtitle/search-resume__subtitle.css");
@import url("./__text/search-resume__text.css");

.search-resume {
    max-width: 1440px;
    margin: 0px auto;
    padding: 40px 104px 56px;
}

@media screen and (max-width: 768px) {
    .search-resume {
        padding: 24px 40px 32px;
    }
}