
@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");
@import url("./blocks/section-title/section-title.css");
@import url("./blocks/header/header.css");
@import url("./blocks/button/button.css");
@import url("./blocks/search/search.css");
@import url("./blocks/preloader/preloader.css");
@import url("./blocks/no-results/no-results.css");
@import url("./blocks/search-results/search-results.css");
@import url("./blocks/cards-container/cards-container.css");
@import url("./blocks/card/card.css");
@import url("./blocks/author/author.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/error/error.css");
@import url("./blocks/search-resume/search-resume.css");
@import url("./blocks/section-text/section-text.css");
@import url("./blocks/saved-cards/saved-cards.css");

.page {
    max-width: 1440px;
    margin: 0px auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

p {
  margin: 0;
}
