.header__menu-icon {
    display: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin-top: 21px;
    margin-right: 16px;
}

@media screen and (max-width: 576px) {
    .header__menu-icon {
        display: block;
    }
}

@media screen and (max-width: 480px) {
  .header__menu-icon {
    margin-top: 16px;
  }
}