@import url("./__logo/header__logo.css");
@import url("./__navigation/header__navigation.css");
@import url("./__nav-item/header__nav-item.css");
@import url("./__logout-icon/header__logout-icon.css");
@import url("./__nav-button/header__nav-button.css");
@import url("./__nav-button-content/header__nav-button-content.css");
@import url("./__menu-icon/header__menu-icon.css");
@import url("./__popup/header__popup.css");
@import url("./__popup-content/header__popup-content.css");
@import url("./__popup-close-button/header__popup-close-button.css");
@import url("./__popup-title/header__popup-title.css");
@import url("./__popup-title-container/header__popup-title-container.css");
@import url("./__popup-nav/header__popup-nav.css");

.header {
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
    box-shadow: inset 0px -1px 0px #D1D2D6;
}

@media screen and (max-width: 768px) {
    .header {
        height: 66px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 56px;
    }
}